*.png
*.gif
*.aux
.Rproj.user
Club6_FDP/genevar/
Club6_FDP/R3 SA8017026 刘慧航.zip
Club6_FDP/realData.R.RData
*.RData
*.Rhistory
*.log
*.blg
*.bbl
*.gz
*.out
Final/Ref/trigger.pdf
Final/Latex/G5-Proposal for Final Project.pdf
Final/Data/
